{% extends "main/base.html" %}
{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pinkproject/style.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="create-project">
            <h1>Create a new project</h1>
            <form id="create-project-form" action="{% url 'pinkproject:create_new' %}{{ project.id }}" method="post"  enctype="multipart/form-data" >{% csrf_token %}
                <div class="input-grid">
                    <label for="project-name">Project name: </label>
                    <input id='project-name' type="text" name="project-name"
                           value='{{ project.project_name|default:"Enter name..."}}' maxlength="200"/>
                    <label for="project-desc">Description: </label>
                    <textarea class="large-input" id='project-desc'
                              maxlength="2000" name="project-desc">{{ project.description|default:"Enter description..."}}
                    </textarea>
                </div>
                <input class='action-button' type="submit" value="Save"/>
            </form>
        </div>
    </div>
{% endblock %}