{% extends "main/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- Aladin Lite CSS -->
    <link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pinkproject/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'som/style.css' %}">
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% load static %}
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    <script>var prototypes = '{{ prototypes }}';</script>
    <script type="text/javascript" src="{% static 'som/view_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'som/som_basics.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="side-menu">
        <div class="info-panel">
            <h1>Project: {{ current.project_name }}</h1>
            <p>{{ current.description }}</p>
            <button class="action-button" onclick="request_page('{% url 'pinkproject:create_project' %}', ['{{ current.id }}'])">Edit</button>
        </div>
        <button class="collapsible active" id="coll_ds" onclick="collapse(this.id, 'datasets')">Choose a map</button>
        <div id="datasets" style="display: grid;">
            {% for som in soms %}
                <a href="{% url 'som:som' %}">{{ som.training_dataset_name }}</a>
            {% endfor %}
        </div>
        <button class="collapsible active" id="coll_tb" onclick="collapse(this.id, 'toolbox')">Tool Box</button>
        <div id="toolbox" style="display: grid;">
            <h3>Inspection:</h3>
            <div class="inspection-tools">
                <div class="tooltip">
                    <img id="pointer" class="tool-selected" src="{% static 'som/icons/png/013-cursor-1.png' %}"
                    onclick="select_tool(this.id)">
                    <span class="tooltiptext">Select</span>
                </div>
                <div class="tooltip">
                    <img id="zoom" src="{% static 'som/icons/png/031-cursor.png' %}"
                         onclick="select_tool(this.id)">
                    <span class="tooltiptext">Zoom into map</span>
                </div>
                <div class="tooltip">
                    <img id="magnifier" src="{% static 'som/icons/png/025-zoom.png' %}"
                         onclick="select_tool(this.id)">
                    <span class="tooltiptext">Magnify</span>
                </div>
                <div class="tooltip">
                    <img id="selection" src="{% static 'som/icons/png/039-crop.png' %}"
                         onclick="select_tool(this.id)">
                    <span class="tooltiptext">Select area</span>
                </div>
            </div>
            <h3>Edit:</h3>
            <div class="edit-tools">
                {% csrf_token %}
                Number of best fits: <input id='input-cutouts' type="text" name="n_fits" value='10'/>
                <div class="tooltip">
                    <img align="middle" id="show-best-fits" src="{% static 'som/icons/png/006-red-eye.png' %}"
                    onclick="show_best_fits()">
                    <span class="tooltiptext">Show closest dataset entries to selection</span>
                </div><br/>
                Number of outliers: <input id='input-outliers' type="text" name="n_outliers" value='10'/>
                <div class="tooltip">
                    <img align="middle" id="show-outliers" src="{% static 'som/icons/png/006-red-eye.png' %}"
                    onclick="show_outliers({{ active_som.id }})">
                    <span class="tooltiptext">Show outliers</span>
                </div>
                <div id="modal-o" class="modal">
                    <div class="modal_window">
                        <h1>These are 10 examples for so-called outliers: Images that do not seem to fit to any prototype.</h1>
                        <div id="cutouts-o" class="cutouts">
                        </div>
                    </div>
                </div>
                <br/>
                <input id='label' type="text" value='Label...'/>
                <div class="tooltip">
                    <img align="middle" id="apply-label" src="{% static 'som/icons/png/011-pencil.png' %}"
                    onclick="label_protos()">
                    <span class="tooltiptext">Apply labels</span>
                </div>
                <div class="tooltip">
                    <img align="middle" id="export" src="{% static 'som/icons/png/015-file.png' %}"
                    onclick="export_catalog('{{ current.project_name }}', {})">
                    <span class="tooltiptext">Export catalog</span>
                </div>
            </div>
            <h3>View:</h3>
            <div class="view-tools">
                <button id="prototype_button" type="button" class="action-button active-action-button"
                        onclick="change_view('{{ active_som.proto_map.url }}', this)">Prototypes</button>
                <button id="heatmap_button" type="button" class="action-button"
                        onclick="change_view('{{ active_som.heatmap.url }}', this)">Heatmap</button>
                <button id="labels_button" type="button" class="action-button"
                        onclick="color_map('{{ active_som.proto_map.url }}', this)">Labels</button>
            </div>
        </div>


        <div class="icon-disclaimer">
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                CC 3.0 BY
            </a>
        </div>
    </div>
    {% include 'som/som.html' %}
{% endblock %}