{% extends "main/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- Aladin Lite CSS -->
    <link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pinkproject/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'som/style.css' %}">
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% load static %}
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    <script>var prototypes = '{{ prototypes }}';</script>
    <script type="text/javascript" src="{% static 'som/view_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'som/som_basics.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="som-page">
        {% include 'pinkproject/side_menu.html' %}
        {% if active_som %}
            {% include 'som/som.html' %}
        {% else %}
            {% include 'som/no_som.html' %}
        {% endif %}
        </div>
    </div>
{% endblock %}