body {
    height: 100%;
    overflow: hidden;
}

.content {
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.side-menu {
    float: left;
    padding: 0px 25px 15px 50px;
    width: calc(50vw - 60vh);
    height: calc(100vh - 100px);
    background-color: pink;
    z-index: 3;
}

.side-menu input {
    width: 30px;
    margin-left: 10px;
    margin-right:10px;
    border: none;
    padding: 2px;
    background-color: lavenderblush;
}

.add-som {
    background-color: mistyrose;
    position: relative;
    top: 50px;
    left: calc(25vw - 60vh);
    margin-left: 25%;
    margin-right: 25%;
    padding: 50px;
}

.collapsible {
    font-family: Verdana, Arial, sans-serif;
    width: 100%;
    font-size: 15pt;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    border: none;
}

.collapsible:hover {
    background-color: deeppink;
}

#datasets, #toolbox {
    padding: 15px;
    background-color: mistyrose;
}

#datasets {
    display: none;
}

#datasets ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

#datasets ul li {
    list-style: none;
}

#datasets .action-button{
    width: 120px;
}

.edit-tools {
    margin-top: 15px;
    margin-bottom: 50px;
}

.edit-tools input {
    margin-left: 15px;
}

.edit-tools img {
    margin-left: 20px;
    width: 50px;
}

.edit-tools #label {
    margin-left: 0px;
    width: 190px;
}


.icon-disclaimer {
    font-size: 8pt;
    position: absolute;
    bottom: 80px;
}

#som-container, .cutouts, .inspection-tools {
    text-align: center;
    display: grid;
}

#toolbox {
    padding-top: 30px;
    margin-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.inspection-tools {
    padding-top: 15px;
    padding-bottom: 50px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 50px;
}

#toolbox .inspection-tools img {
    width: 100%;
}
#toolbox img {
    opacity: 0.5;
}

#toolbox img:hover {
    opacity: 1;
    cursor: pointer;
}

#toolbox .tool-selected {
    opacity: 1;
}

#toolbox .action-button {
    min-width: 32%;
    width: 32%;
    max-width: 32%;
}

.view-tools {
    display: inline-block;
}

#som-container {
    position: relative;
    top: 20px;
    left: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 85vh;
    height: 85vh;
    grid-gap: 0;
}

.cutouts {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
}

#som-container img, .cutouts img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

#som-container img:hover {
    cursor: pointer;
}


.tooltip {
   position: relative;
   display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   background-color: lightcoral;
   color: #fff;
   text-align: center;
   padding: 5px;
   border-radius: 6px;

   /* Position the tooltip text - see examples below! */
   position: absolute;
   z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
    cursor: pointer;
}

.prototype {
    background-color: rgba(255, 255, 255, 0);
}

.proto-selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.cutout-selected {
    opacity: 0.5;
}

.cutout-img:hover {
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.modal_window {
    padding: 50px;
    position: absolute;
    background-color: lavenderblush;
    color: black;
    width: 50vw;
    top: 70px;
    left: 45vw;
}

.modal_window .icon {
    text-align: right;
}

.modal_window .icon img{
    width: 30px;
    opacity: 0.5;
}

.modal_window .icon img:hover {
    opacity: 1;
    cursor: pointer;
}

.som-info {
    position: fixed;
    right: 0;
    top: 100px;
    margin-right: 10%;
    text-align: left;
    width: 20vw;
}

.som-info img {
    width: 100%;
    right: 50px;

}

.som-info table {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14pt;
}

th, td {
    padding-right: 15px;
    height: 30px;
}

.magnifier {
    position: fixed;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 300px;
    height: 300px;
    z-index: 500;
}

.prototype-info p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.prototype-info img {
    width: 65%;
}

#prototype-preview {
    padding-top: 20px;
}
#prototype-preview img {
    width: 20%;
}

.label-legend {
    margin-top: 15px;
    padding: 15px;
}

.add-som {
    left: 0;
}
