<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" href="{% static 'main/Logo/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    {% block stylesheets %}<!-- Additional sheets added in subpages -->{% endblock %}
    <script type="text/javascript" src="{% static 'main/basic_functions.js' %}"></script>
    {% block javascript %}<!-- Additional scripts added in subpages -->{% endblock %}
    <title>{% block title %}UltraPINK{% endblock %}</title>
</head>
<body>
    <div class="navbar">
    {% block navbar %}
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'pinkproject:create_project' %}">New project</a></li>
            <li><a href="{% url 'all_projects' %}">All projects</a></li>
        </ul>
    {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
        <ul>
            <li>&copy 2019 by HITS gGmbH</li>
            <li><a href="">Imprint</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Related Projects</a></li>
        </ul>
    {% endblock %}
    </div>
</body>
</html>