{% extends "main/base.html" %}
{% block banner %}
    <div class="banner">
        {% load static %}
        <span class="headline">Welcome to </span><img class='inline-img' align="middle" src="{% static 'main/Logo/pink-logo-small-white.png' %}">
        <p>
            UltraPINK is a Python-based web application to visualize self-organizing maps <i>(SOMs)</i> created with
            the <b>PINK</b> framework. PINK is a tool to generate <b>p</b>arallelized <b>in</b>variant <b>K</b>ohonen maps
            structuring data according to their morphological features. Thus, a semi-automatic analysis of the data is possible.
        </p>
        <br/>
        <div class="row">
            <div class="col s6" style="text-align: right;">
                <a href="https://github.com/HITS-AIN/PINK">
                    <img align="middle" src="{%  static 'main/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png' %}"/>
                    View PINK sources
                </a>
            </div>
            <div class="col s6=" style="text-align: left;">
                <a href="https://github.com/SirrahErydya/UltraPINK">
                    <img align="middle" src="{%  static 'main/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png' %}"/>
                    View UltraPINK sources
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s6" style="text-align: right;">
                <button class="btn" href="https://www.elen.ucl.ac.be/Proceedings/esann/esannpdf/es2016-116.pdf">
                    View Publication
                </button>
            </div>
            <div class="col s6" style="text-align: left;">
                <button class="btn" href="{% url 'about' %}">
                    Learn more
                </button>
            </div>
        </div>


    </div>
{% endblock %}
{% block content %}
    <div class="content home">
        <p class="headline">My projects</p>
        <div class="carousel">
            {% for project in projects %}
                <a class="carousel-item" href="{% url 'pinkproject:project' project_id=project.id  %}">
                    <div class="card">
                        <div class="card-image">
                          <img src="{% static 'main/imgs/pink_web.jpg' %}">
                          <span class="card-title">{{ project.project_name }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <button class="btn" onclick="request_page('{% url 'pinkproject:create_project' %}', [])">
                Create new
        </button>
        <button class="btn" onclick="request_page('{% url 'pinkproject:all' %}', [])">
            All projects
        </button>

    </div>
    <script>
        M.AutoInit();
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, options);
      });
    </script>
{% endblock %}
