{% extends "main/base.html" %}

{% block stylesheets %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pinkproject/style.css' %}">
{% endblock %}
{% block javascript %}
{% endblock %}
<div class="content project-lander">
{% block content %}
    {% include 'pinkproject/side_menu.html' %}
        <div class="project-lander">
            <p class="headline">Welcome to the project {{ current.project_name }}!</p>

            <p style="font-size: 16pt">Datasets included with this project:</p>
            <a href="{% url 'som:add_som' project_id=current.id %}"><i class="material-icons">add</i>Add dataset</a>
            <div class="dataset-overview">
                {% for ds in datasets %}
                    <div class="card">
                        <i class="remove-ds-button material-icons"
                           onclick="request_page('{% url 'pinkproject:remove_ds' ds_id=ds.id %}', [])">close</i>
                        <div class="card-content">
                            <span class="card-title">{{ ds.dataset_name }}</span>
                            <p>{{ ds.description }}</p>
                            <p>{{ ds.length }} data points</p>
                        </div>
                        <div class="card-action">
                            <div class="train-with-ds">
                                <b>Trained SOMs:</b>
                                <i class="add-som-button medium material-icons"
                                   onclick="request_page('{% url 'som:add_som' project_id=current.id dataset_id=ds.id%}', [])">add</i>
                            </div>
                            <ul>
                                {% for som in soms %}
                                    {% if som.dataset == ds %}
                                        <li>
                                            <div class="row">
                                                <div class="col s10">
                                                    <a href="{% url 'pinkproject:project'  project_id=current.id  som_id=som.id  %}">
                                                        {{ som.som_name }}
                                                    </a>
                                                </div>
                                                <div class="col s2">
                                                    <i class="remove-som-button small material-icons"
                                                        onclick="request_page('{% url 'pinkproject:remove_som' som_id=som.id %}', [])">remove</i>

                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}