@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-blur:before { content: "\f100"; }
.flaticon-002-graphic-designer:before { content: "\f101"; }
.flaticon-003-graphic-designer:before { content: "\f102"; }
.flaticon-004-layers:before { content: "\f103"; }
.flaticon-005-monitor:before { content: "\f104"; }
.flaticon-006-smartphone:before { content: "\f105"; }
.flaticon-007-pantone:before { content: "\f106"; }
.flaticon-008-psd:before { content: "\f107"; }
.flaticon-009-eps:before { content: "\f108"; }
.flaticon-010-svg:before { content: "\f109"; }
.flaticon-011-human-brain:before { content: "\f10a"; }
.flaticon-012-text:before { content: "\f10b"; }
.flaticon-013-ai:before { content: "\f10c"; }
.flaticon-014-brush:before { content: "\f10d"; }
.flaticon-015-idea:before { content: "\f10e"; }
.flaticon-016-dropper:before { content: "\f10f"; }
.flaticon-017-deadline:before { content: "\f110"; }
.flaticon-018-graphic-design:before { content: "\f111"; }
.flaticon-019-web-page:before { content: "\f112"; }
.flaticon-020-view:before { content: "\f113"; }
.flaticon-021-vector:before { content: "\f114"; }
.flaticon-022-process:before { content: "\f115"; }
.flaticon-023-image:before { content: "\f116"; }
.flaticon-024-idea:before { content: "\f117"; }
.flaticon-025-spray-paint:before { content: "\f118"; }
.flaticon-026-eraser:before { content: "\f119"; }
.flaticon-027-cube:before { content: "\f11a"; }
.flaticon-028-keyboard:before { content: "\f11b"; }
.flaticon-029-shield:before { content: "\f11c"; }
.flaticon-030-ruler:before { content: "\f11d"; }
.flaticon-031-graphic-tablet:before { content: "\f11e"; }
.flaticon-032-graphic-design:before { content: "\f11f"; }
.flaticon-033-coffee-mug:before { content: "\f120"; }
.flaticon-034-art-board:before { content: "\f121"; }
.flaticon-035-zoom-in:before { content: "\f122"; }
.flaticon-036-zoom-out:before { content: "\f123"; }
.flaticon-037-camera:before { content: "\f124"; }
.flaticon-038-idea:before { content: "\f125"; }
.flaticon-039-object:before { content: "\f126"; }
.flaticon-040-notepad:before { content: "\f127"; }
.flaticon-041-cmyk:before { content: "\f128"; }
.flaticon-042-garbage:before { content: "\f129"; }
.flaticon-043-drop:before { content: "\f12a"; }
.flaticon-044-drop:before { content: "\f12b"; }
.flaticon-045-web-page:before { content: "\f12c"; }
.flaticon-046-sticky-note:before { content: "\f12d"; }
.flaticon-047-computer-mouse:before { content: "\f12e"; }
.flaticon-048-scissors:before { content: "\f12f"; }
.flaticon-049-cancel:before { content: "\f130"; }
.flaticon-050-approve:before { content: "\f131"; }