{% extends "main/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- Aladin Lite CSS -->
    <link rel="stylesheet"
          href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'som/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pinkproject/style.css' %}">
{% endblock %}
{% block javascript %}
    {% load static %}
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'som/view_functions.js' %}"></script>
    <script>var prototypes = '{{ prototypes }}';</script>
{% endblock %}
{% block content %}
    <div id="loading-wrapper" style="display: none;">
        <div class="loader"></div>
        <p>Training your SOM... Grab a coffee, this may take a while ;)</p>
    </div>
    {% include 'pinkproject/side_menu.html' %}
    <div class="add-som">
        <div class="card">
            <div class="card-content">
                <p class="card-title">Add a SOM to the current project</p>
            </div>
                {% if dataset %}
                    <form id="add-som-form"
                          action="{% url 'som:create_som' project_id=current.id dataset_id=dataset.id %}" method="post"
                          enctype="multipart/form-data" >
                {% else %}
                    <form id="add-som-form" action="{% url 'som:create_som' project_id=current.id %}" method="post"
                          enctype="multipart/form-data" >
                {% endif %}
                <div class="card-content">
                    {% csrf_token %}
                    {% if dataset %}
                        <b>Dataset:</b>
                        <span>{{ dataset.dataset_name }}</span>
                        <span></span>
                        <i>{{ dataset.description }}</i>
                    {% else %}
                        <div class="input-field">
                            <input id='dataset-name' type="text" name="dataset-name"
                                   value="Dataset name..." maxlength="200"/>
                            <label for="dataset-name">Dataset name:</label>
                        </div>

                        <div class="input-field">
                            <input id='dataset-descr' type="text" name="dataset-descr"
                                   value="Description..." maxlength="200"/>
                            <label for="dataset-descr">Description:</label>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Image Training data (.npy)</span>
                                <input type="file" id="dataset" name="dataset">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Catalog (.vot)</span>
                                <input type="file" id="cat-data" name="cat-data" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#train-som">Train SOM</a></li>
                        <li class="tab"><a href="#import-bin">Import Binary File</a></li>
                        <li class="tab disabled"><a href="#import-python">Import Python Object</a></li>
                    </ul>
                </div>
                <div class="card-content tab-inner">
                    <div id="train-som">
                        <span class="card-title">Train a SOM</span>
                        <br/>
                        <p>Give link the folder containing the data below. The folder can contain data in the following formats</p>
                        <ul>
                            <li>Images</li>
                        </ul>
                        <p>Furthermore, you need to specifiy the dimensions of the map and for how many epochs you want to train the model.</p>
                        <div class="input-field">
                            <input id='som-name' type="text" name="som_name"
                           value="SOM name..." maxlength="200"/>

                            <label for="som-name">SOM name:</label>
                        </div>
                        <div class="input-field">
                            <select id='som-layout' name="layout">
                                <option value="cartesian" selected>Cartesian</option>
                                <option value="hexagonal">Hexagonal</option>
                            </select>
                            <label for="som-layout">Layout:</label>
                        </div>
                        <div class="input-field">
                            <input id='som-width' type="text" name="som_width" value='10'/>
                            <label for="som-width">Width:</label>
                        </div>
                        <div class="input-field">
                            <input id='som-height' type="text" name="som_height" value='10'/>
                            <label for="som-height">Height:</label>
                        </div>
                        <div class="input-field">
                            <input id='som-depth' type="text" name="som_depth" value='1'/>
                            <label for="som-depth">Depth:</label>
                        </div>
                        <div class="input-field">
                            <input id='rotations' type="text" name="rotations" value='360'/>
                            <label for="rotations">Number of rotations:</label>
                        </div>
                        <div class="input-field">
                            <input id='epochs' type="text" name="epochs" value='10'/>
                            <label for="epochs">Epochs:</label>
                        </div>
                    </div>
                    <div id="import-bin">
                        <span class="card-title">Binary files</span>
                        <p>To process the map, the binary files of the SOM, the mapping, and the images That were created during the training with PINK are necessary.
                        Please provide the binary files here.</p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>SOM file (.bin):</span>
                                <input type="file"  id="som-file" name="som-file"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Mapping file (.bin):</span>
                                <input type="file" id="mapping-file" name="mapping-file"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Image file (.bin):</span>
                                <input type="file" id="image-file" name="image-file"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <div id="import-python">

                    </div>
                    <input class='btn' onclick="loading_screen()" type="submit" value="Save"/>
                </div>
            </form>
        </div>
    </div>
<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
  });
</script>
{% endblock %}