<div id="som-container" class="hex-som" style="
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat({{ active_som.som_height}}, calc(3*calc(80vh/{{ active_som.som_height}})/4));">
    <div class="magnifier" id="magnify-window" style="display: none;"></div>
    {% for prototype in prototypes %}
        <div class="tooltip prototype"
             style="grid-row: calc({{ prototype.y }} + 1);
                    {% if prototype.y < half_som_width %}
                     grid-column: calc({{ prototype.x }} + 1 +
                        calc({{ prototype.x }} +
                        calc({{ prototype.y }} - {{ half_som_width }}))) / span 2;

                    {% else %}
                    grid-column: calc({{ prototype.x }} + 1 +
                        calc({{ prototype.x }} -
                        calc({{ prototype.y }} - {{ half_som_width }}))) / span 2;

                    {% endif %}
                    ">
            <span class="tooltiptext">({{ prototype.x }},{{ prototype.y }})</span>
            <img id="proto{{ prototype.id}}" src="{{ prototype.image }}"
                 onclick="click_image(this.id, {{ prototype.id }},  true)" onmouseover="show_hover_preview(this.id)"/>
        </div>
        <script>
            {% if prototype.label %}
            proto_color("proto{{ prototype.id }}",
                {{ prototype.label.color_r }},
                {{ prototype.label.color_g }},
                {{ prototype.label.color_b}},
                "{{ view }}");
            {% else %}
            proto_color("proto{{ prototype.id }}", 255, 255, 255,
                "{{ view }}");
            {% endif %}
        </script>
    {% endfor %}
</div>