
<div id="som-container">
    {% for prototype in prototypes %}
        <div class="tooltip">
            {% load static %}
            <img id="{{ prototype.proto_id}}" src="{{ prototype.image.url }}" alt="som_prototype{{ proto_id }}"
                 onclick="click_prototype(this.id)">
            <span class="tooltiptext">({{ prototype.x }},{{ prototype.y }})</span>
        </div>
    {% endfor %}
    <div id="modal" class="modal">
        <div class="modal_window">
            <h1>These are the best fits for this prototype</h1>
            <div id="cutouts" class="cutouts">
            </div>
        </div>
    </div>
</div>
<!--
<table>
    <tr>
        <th>Dataset:</th>
        <td>{{ active_som.training_dataset_name }}</td>
    </tr>
    <tr>
        <th>Total number of images:</th>
        <td>{{ active_som.number_of_images }}</td>
    </tr>
    <tr>
        <th>Number of loaded cutout fits:</th>
        <td>{{ active_som.n_cutouts }}</td>
    </tr>
    <tr>
        <th>Number of loaded outliers:</th>
        <td>{{ active_som.n_outliers }}</td>
    </tr>
    <tr>
        <th>Number of channels:</th>
        <td>{{ active_som.number_of_channels }}</td>
    </tr>
    <tr>
        <th>Width:</th>
        <td>{{ active_som.som_width|floatformat:0 }}</td>
    </tr>
    <tr>
        <th>Height:</th>
        <td>{{ active_som.som_height|floatformat:0 }}</td>
    </tr>
    <tr>
        <th>Depth:</th>
        <td>{{ active_som.som_depth|floatformat:0 }}</td>
    </tr>
</table>
-->