
<div id="som-container" style="
    background-image: url({{ active_som.proto_map.url }});
    background-size: 100%;
    grid-template-columns: repeat({{ active_som.som_width }}, auto);
    grid-template-rows: repeat({{ active_som.som_height}}, auto);">
    <div class="magnifier" id="magnify-window" style="display: none;"></div>
    {% for prototype in prototypes %}
        <div id="{{ prototype.proto_id}}" class="tooltip" onclick="click_prototype(this.id)">
            <span class="tooltiptext">({{ prototype.x }},{{ prototype.y }})</span>
        </div>
    {% endfor %}
</div>
<div class="modal_window" id="modal-window" style="display: none">
    {% load static %}
    <div class="icon">
        <img src="{% static 'main/icons/error.png' %}" onclick="close_cutout_modal()"/>
    </div>
    <div id="modal-header"></div>
    <div class="prototype-info" id="prototype-preview">
    </div>
    <div id="cutouts" class="cutouts">
    </div>
    <input id='cutout-label' type="text" value='Label...'/>
    <button id="label-cutouts" class="action-button"
            onclick="label_cutouts(false)">Apply label</button>
    <button id="label-cutouts-proto" class="action-button"
            onclick="label_cutouts(true)">Apply prototype label</button>
</div>
<div class="som-info" id="som-info">
    <table>
        <tr>
            <th>Dataset:</th>
            <td>{{ active_som.training_dataset_name }}</td>
        </tr>
        <tr>
            <th>Total number of images:</th>
            <td>{{ active_som.number_of_images }}</td>
        </tr>
        <tr>
            <th>Number of channels:</th>
            <td>{{ active_som.number_of_channels }}</td>
        </tr>
        <tr>
            <th>Width:</th>
            <td>{{ active_som.som_width|floatformat:0 }}</td>
        </tr>
        <tr>
            <th>Height:</th>
            <td>{{ active_som.som_height|floatformat:0 }}</td>
        </tr>
        <tr>
            <th>Depth:</th>
            <td>{{ active_som.som_depth|floatformat:0 }}</td>
        </tr>
    </table>
    <br/>
    <div class="prototype-info" id="prototype-info">
    </div>
    <div class="label-legend" id="label-legend"></div>
</div>
