

{% load static %}
  <ul id="slide-out" class="sidenav sidenav-fixed">

      <li>
          <div class="user-view shadowbox">
              <div class="background">
                  <img src="{{ cutout.image }}">
              </div>
              <a class="headline">
                  Cutout {{ cutout.index }} from dataset {{ som.dataset.dataset_name }}
              </a> <br/>
              <a href="{% url 'pinkproject:create_project' project_id=current.id%}"><i class="material-icons">create</i>Edit</a>
              <a href=""><i class="material-icons">file_download</i>Export</a>
          </div>
      </li>
      {% if active_som %}
            <p class="headline"> {{ active_som.som_name }} </p>
            <p><b>Dataset:</b> {{ active_som.dataset.dataset_name }}</p>
            {% include 'som/toolbox.html' %}

      {% elif  cutout %}
          <a href="{% url 'pinkproject:project' project_id=current.id som_id=som.id %}">
             <i class="material-icons">chevron_left</i>
             Back to {{ som.som_name }}
          </a>
          <p class="headline">Cutout details: {{ cutout_name }}</p>
          <table>
            <tr>
                <th>Dataset:</th>
                <td>{{ som.dataset.dataset_name }}</td>
            </tr>
            <tr>
                <th>Index:</th>
                <td>{{ cutout.index }}</td>
            </tr>
            {% for key, value in cutout_meta.items %}
                <tr>
                    <th>{{ key }}:</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}

          </table>
      {% else %}
          <li><a class="subheader">Project description</a></li>
          <li><p>{{ current.description }}</p></li>
          <li><a href="{% url 'som:add_som' project_id=current.id %}"><i class="material-icons">add</i>Add dataset</a></li>
          <li><div class="divider"></div></li>
          <li><a href="{% url 'all_projects' %}"><i class="material-icons">chevron_left</i>Back to all projects</a></li>
      {% endif %}

  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>




<script>
  document.addEventListener('DOMContentLoaded', function() {
      options = [];
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

</script>