/* Style Sheet for the general web page layout */

* {
    margin: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    overflow-x: hidden;
    height: 100%;
}

.banner {
    background-image: url('imgs/pink_web.jpg');
    background-size: cover;
    background-position: 50%;
    color: white;
    text-align: center;
    padding: 2% 10% 2% 10%;
}




#nav {
    top: 0;
    background-color: pink;
    z-index: 42;
    text-align: center;
    display: inline-block;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
}

#nav ul li a:link, #nav ul li a:visited, #nav ul li a:active,
.footer ul li a:link, .footer ul li a:visited, .footer ul li a:active {
    color: black;
    text-decoration: none;
}

#nav ul li a:hover,
.footer ul li a:hover {
    color: deeppink;
    text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.content {
    min-height: calc(100vh);
    padding: 50px 10% 50px 10%;
}

.headline {
    font-size: 40pt;
    font-weight: bolder;
}

.subheadline {
    font-size: 20pt;
}

.carousel {
    height: 600px;
}

.carousel .carousel-item{
    width: 500px;
    height: 400px;
}

.card {
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    background-color: seashell;
    padding: 50px;
    min-height: 180px;
    text-align: justify;
}

.card .card-image {
    height: 200px;
    overflow: hidden;
}

.card .card-image {
    object-fit: cover;
}

.card h2 {
    margin-bottom: 5px;
}

.card a {
    margin-right: 15px;
    text-decoration: none;
}

a {
    display: block;
    line-height: 48px;
    height: 48px;
}

a i.material-icons {
    line-height: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
}

.home .carousel a {
    line-height: 1.4;
}


.carousel .carousel-item .card {
    margin: 0;
    min-height: 400px;
    padding: 0;
    color: black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: hotpink;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: deeppink;
}

.carousel .carousel-item .card:hover {
    color: deeppink;
}

a:link, a:visited, a:active {
    color: hotpink;
    text-decoration: none;
}

a:hover {
    color: deeppink;
}

.about {
    background-image: url('imgs/pink_web.jpg');
    background-size: cover;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.all-projects table {

}

.all-projects td{
    padding-right: 2px;
    padding-left: 2px;
    max-width: 25vw;
    word-wrap: break-word;
}

.dropdown-content li > span{
    color: deeppink;
}



input[type=text], textarea {
    border: none;
    width: 500px;
    padding: 5px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
}

input[type=text] {
    height: 30px;
}

textarea {
    min-height: 150px;
}

.home {
    text-align: center;
}

.btn, .btn:focus {
    background-color: hotpink;
}

.btn:hover {
    background-color: deeppink;
}


.button-link  {
    color: gray;
}

.button-link:hover {
    color: deeppink;
    cursor: pointer;
}


.tooltip {
   position: relative;
   display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   background-color: lightcoral;
   color: #fff;
   text-align: center;
    line-height: 1.4;
   padding: 5px;
   border-radius: 6px;

   /* Position the tooltip text - see examples below! */
   position: absolute;
   z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
    cursor: pointer;
}

.shadowbox {
    background-color: rgba(0,0,0,0.5);
}

.footer {
    position: relative;
    height: 60px;
    top: 0px;
}

.footer, .footer ul {
    background-color: pink;
    font-size: small;
    text-align: center;
}

.footer ul {
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
