
.create-project textarea {
    margin-top: 10px;
    background-color: white;
    width: 100%;
}

.create-project label {
    vertical-align: bottom;
}

#create-project-form .input-field input[type=text]:focus + label,
#create-project-form .input-field textarea:focus + label {
    color: deeppink;
}

#create-project-form .input-field input[type=text]:focus,
.input-field input[type=text].valid {
     border-bottom: 1px solid deeppink;
     box-shadow: 0 1px 0 0 deeppink;
}

#create-project-form .input-field textarea:focus {
     border: 1px solid deeppink;
     box-shadow: 0 1px 0 0 deeppink;
}


#create-project-form {
    margin-top: 30px;
}

.project-lander {
    position: relative;
    left: 20vw;
    width: 80vw;
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 110px);
    height: 100%;
}



.project-lander .card ul {
    padding: 5px;
}


.dataset-overview {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 33%);
}

.dataset-overview .card {
    margin: 0;
    width: auto;
    color: black;
}

.dataset-overview .add-som-button, .remove-som-button, .remove-ds-button {
    opacity: 0.5;
    cursor: pointer;
}

.dataset-overview .add-som-button {
    font-size: 32pt;
}

.dataset-overview .train-with-ds i {
    position: relative;
    top: 5px;
    font-size: 28px;
}

.dataset-overview i:hover {
    opacity: 1;
    color: deeppink;
}

.card-action {
    font-size: 16pt;
}

.card-action .row {
    margin-bottom: 0px;
}


.remove-ds-button {
    float: right;
}

.train-with-ds {
    height: 24px;
    font-size: 20px;
    display: inline-block;
}

.info-panel {
    text-align: left;
    background-color: mistyrose;
    padding: 25px;
    margin-bottom: 20px;
}
.info-panel p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidenav {
    background-color: seashell;
    width: 20vw;
}

.sidenav .user-view {
    padding-top: 30%;
    color: white;
    padding-bottom: 10px;
}

.sidenav .user-view .headline {
    font-size: 16pt;
    font-weight: bold;
}

.sidenav p {
    padding: 0 32px;
    line-height: 1.4;
}

.sidenav .user-view a {
    padding-right: 30px;
    color: white;
}
.sidenav .user-view a:hover {
    color: deeppink;
}


.collapsible {
    font-family: Verdana, Arial, sans-serif;
    width: 100%;
    font-size: 15pt;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    border: none;
}

.collapsible:hover {
    background-color: deeppink;
}

#datasets, #toolbox {
    padding: 15px;
    background-color: mistyrose;
}

#datasets {
    padding: 25px;
    display: none;
}

#datasets h2 {
    padding-bottom: 20px;
}

#datasets ul {
    padding-top: 20px;
    padding-bottom: 30px;
}

#datasets ul li {
    list-style: none;
}

#datasets .action-button{
    width: 120px;
}



#loading-wrapper {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    text-align: center;
}

#loading-wrapper p {
    position: relative;
    top: 50%;
}

.loader {
    border: 16px solid #FFE4E1;
    border-radius: 50%;
    border-top: 16px solid #FF1493;
    position: fixed;
    left: calc(50% - 60px);
    top:25%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type=file] {
    font-family: Verdana, Arial, sans-serif;
    min-width: 500px;
}

textarea {
    text-align: justify;
}

h3 {
    margin-bottom: 5px;
}