.create-project {
    background-color: mistyrose;
    margin-left: 25%;
    margin-right: 25%;
    padding: 50px;
}

#create-project-form {
}

.info-panel {
    text-align: left;
    background-color: mistyrose;
    padding: 25px;
}
.info-panel p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-grid {
    margin-top: 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 12em);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 50px;
}

input[type=file] {
    font-family: Verdana, Arial, sans-serif;
    min-width: 500px;
}

textarea {
    text-align: justify;
}

h3 {
    margin-bottom: 5px;
}